In [1]:
import numpy as np
import pandas as pd
from numpy.random import default_rng

In [2]:
rng = default_rng(12345)

In [3]:
sales = rng.integers(0,1000,10)

In [4]:
sales

array([699, 227, 788, 316, 204, 797, 642, 676, 988, 391], dtype=int64)

In [5]:
sales_series = pd.Series(sales,name='Sales')
sales_series

0    699
1    227
2    788
3    316
4    204
5    797
6    642
7    676
8    988
9    391
Name: Sales, dtype: int64

In [6]:
sales_series.values

array([699, 227, 788, 316, 204, 797, 642, 676, 988, 391], dtype=int64)

In [7]:
array = np.arange(5)
pd.Series(array)

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [8]:
sales_series.mean()

572.8

In [9]:
sales_series

0    699
1    227
2    788
3    316
4    204
5    797
6    642
7    676
8    988
9    391
Name: Sales, dtype: int64

In [10]:
sales_series.index

RangeIndex(start=0, stop=10, step=1)

In [11]:
sales_series.name = 'New Sales'

In [12]:
sales_series

0    699
1    227
2    788
3    316
4    204
5    797
6    642
7    676
8    988
9    391
Name: New Sales, dtype: int64

In [13]:
sales_series.astype('float')

0    699.0
1    227.0
2    788.0
3    316.0
4    204.0
5    797.0
6    642.0
7    676.0
8    988.0
9    391.0
Name: New Sales, dtype: float64

In [14]:
sales_series[1] = 0

In [15]:
sales_series.astype('bool')

0     True
1    False
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
Name: New Sales, dtype: bool

In [16]:
sales = [0,5,155,0,518]
sales_series = pd.Series(sales,name='Sales')
sales_series

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

In [17]:
items = ['coffe','bananas','tea','coconut','sugar']

In [18]:
sales_series = pd.Series(sales,index=items, name='Sales')

In [19]:
sales_series.index = items

In [20]:
sales_series

coffe        0
bananas      5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [21]:
sales_series['coffe':'tea']

coffe        0
bananas      5
tea        155
Name: Sales, dtype: int64

In [22]:
my_series = pd.Series(range(5))

In [23]:
my_series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [24]:
my_series[3]

3

In [25]:
my_series[0:2]

0    0
1    1
dtype: int64

In [26]:
sales_series.index = ['Day 0','Day 1','Day 2','Day 3','Day 4']

In [27]:
sales_series.iloc[3]

0

In [28]:
sales_series.iloc[0:3]

Day 0      0
Day 1      5
Day 2    155
Name: Sales, dtype: int64

In [29]:
sales_series.iloc[[1,3]]

Day 1    5
Day 3    0
Name: Sales, dtype: int64

In [30]:
sales_series.loc['Day 2']

155

In [52]:
sales_series.loc['Day 1':]

Day 1      5
Day 2    155
Day 3      0
Day 4    518
Name: Sales, dtype: int64

In [53]:
sales_series.iloc[[1,4]]

Day 1      5
Day 4    518
Name: Sales, dtype: int64

In [33]:
sales_series.reset_index(drop=True) #drop current index

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

In [34]:
sales_series.reset_index()          #add new column with new index

   index  Sales
0  Day 0      0
1  Day 1      5
2  Day 2    155
3  Day 3      0
4  Day 4    518

In [35]:
sales_series

Day 0      0
Day 1      5
Day 2    155
Day 3      0
Day 4    518
Name: Sales, dtype: int64

In [36]:
sales_series.reset_index(drop=True)

0      0
1      5
2    155
3      0
4    518
Name: Sales, dtype: int64

In [37]:
ages = pd.Series(
    [25, 30, 35, 40, 45, 25, 30], 
    index=['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob']
)

In [38]:
ages.reset_index(drop=True)

0    25
1    30
2    35
3    40
4    45
5    25
6    30
dtype: int64

In [54]:
sales_series

Day 0      0
Day 1      5
Day 2    155
Day 3      0
Day 4    518
Name: Sales, dtype: int64

In [55]:
index_array = np.array(['coffe','coffe','tea','coconut','sugar'])

In [57]:
sales_series.index = index_array

In [58]:
sales_series

coffe        0
coffe        5
tea        155
coconut      0
sugar      518
Name: Sales, dtype: int64

In [59]:
sales_series.loc[sales_series > 0]

coffe      5
tea      155
sugar    518
Name: Sales, dtype: int64

In [60]:
mask = (sales_series > 0) & (sales_series.index == 'coffe')

sales_series.loc[mask]

coffe    5
Name: Sales, dtype: int64

In [61]:
sales_series == 5

coffe      False
coffe       True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [62]:
sales_series.eq(5)

coffe      False
coffe       True
tea        False
coconut    False
sugar      False
Name: Sales, dtype: bool

In [65]:
my_series.index = ['Day 0','Day 1','Day 2','Day 3','Day 4']

In [66]:
my_series

Day 0    0
Day 1    1
Day 2    2
Day 3    3
Day 4    4
dtype: int64

In [67]:
my_series == 2

Day 0    False
Day 1    False
Day 2     True
Day 3    False
Day 4    False
dtype: bool

In [68]:
my_series.loc[my_series == 2]

Day 2    2
dtype: int64

In [70]:
my_series.loc[~(my_series == 2)]

Day 0    0
Day 1    1
Day 3    3
Day 4    4
dtype: int64

In [71]:
my_series.loc[my_series.isin([1,2])]

Day 1    1
Day 2    2
dtype: int64

In [72]:
my_series.loc[~my_series.isin([1,2])]

Day 0    0
Day 3    3
Day 4    4
dtype: int64

In [78]:
sales_series.sort_values(ascending=False) # dont replace initial order

sugar      518
tea        155
coffe        5
coffe        0
coconut      0
Name: Sales, dtype: int64

In [79]:
sales_series.sort_values(ascending=False, inplace=True) # inplace replace the order

In [80]:
sales_series

sugar      518
tea        155
coffe        5
coffe        0
coconut      0
Name: Sales, dtype: int64

In [82]:
sales_series.sort_index()

coconut      0
coffe        5
coffe        0
sugar      518
tea        155
Name: Sales, dtype: int64

In [83]:
ages = pd.Series(
    [42, 37, 29, 52, 26, 42, 37], 
    index=['Beth', 'Fred', 'Max', 'Janet', 'Liz', 'Juan', 'Xiu']
)

In [85]:
ages.sort_values()

Liz      26
Max      29
Fred     37
Xiu      37
Beth     42
Juan     42
Janet    52
dtype: int64